h1{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
.lista{
    
    background-color: rgb(71, 87, 87);
    margin: 0 auto ;
    padding: 15px;
    width: 350px;
    color: aliceblue;
    border-radius: 30px;
  
}
.lista li{

    margin: 0 auto;
    background-color: aliceblue;
    padding: 7px;
    width: 300px;
    color: rgb(13, 16, 18);
   margin-top: 5px;
    border:1px solid rgb(16, 1, 1)
   
}
ul{
    border-radius: 35px;
   
}