.project_container {
  padding: 2em;
  min-height: 1000px;
  max-width: 20000px;
  
}

.title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  
}
.fidelizacao{
  margin-top: 30px;
  background-color: rgb(245, 240, 233);
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.fidelizacao {
  margin-top: 20px;
  
}
