.btn {
  background-color: #232323;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 10px
}

.btn:hover {
 background-color: #070000;
 color: #fff;
}
